# 构建Dataset

In [1]:
from Souper import Souper
import pandas as pd

from tqdm import tqdm


df = pd.read_csv("./PNs/36.csv")
ls = [x[1] for x in df.values]

In [2]:
ls_test = ls[:11] + ls[12:]

len(ls_test)

ls_test[59]

'5,022,497'

In [3]:
Data = []           # list of dict

for pn in tqdm(ls_test):
    try:
        s = Souper(pn)
        s.getFeatures()
        Data.append(s.dict)
        
    except Exception as ex:
        print("{}采集出错，出错原因：{}".format(pn, ex))

100%|██████████| 564/564 [00:20<00:00, 27.62it/s]

In [4]:
Data = pd.DataFrame(Data)
del Data['TTL'], Data['ABST'], Data['ACLM']

In [6]:
Data.to_csv("./GT36.csv")       # GNN TEST 36

In [5]:
Data

,PN,REF,ISD,CPC,IPC,b_cits
0,4965743,157,1990-10-23,6,4,"[4642782, 4649515, 4658370, 4675829, 4796194]"
1,4922432,174,1990-05-01,2,2,"[4635208, 4638442, 4648044, 4651284, 4656603, ..."
2,4918621,20,1990-04-17,1,2,[4675829]
3,4890240,36,1989-12-26,1,3,[NULL]
4,4866628,54,1989-09-12,8,6,[NULL]
...,...,...,...,...,...,...
559,9742753,8,2017-08-22,5,4,"[8103947, 8589440, 8775951, 8793579, 8856638, ..."
560,9736309,2,2017-08-15,7,5,[NULL]
561,9723544,0,2017-08-01,5,7,"[5915225, 6160903, 6387027, 6498861, 7177642, ..."
562,9723005,6,2017-08-01,7,2,[NULL]
563,9720998,30,2017-08-01,1,1,"[5832182, 6374251, 8909563, 9336302, 2004/0117..."

In [ ]:
str = '   22'
str.replace('*', '')

# 对特定PN进行Soup测试

In [ ]:
from bs4 import BeautifulSoup

with open('./htmls/5,022,497.html') as file:
    html = file.read()

soup = BeautifulSoup(html, 'html.parser')

In [ ]:
p = soup.body.find_all('p', recursive=False)[1]
p_tables = p.find_all('table', recursive = False)
p_tables[1]

In [ ]:
soup.find_all('b', text = 'U.S. Patent Documents')